In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from IPython.display import display

from matplotlib import rc
rc("font", family="serif", size=11)

In [14]:
df = pd.read_csv('manystars.csv', usecols=['dnu','nmax','epsilon','k','a','omega','phi','tau'])
display(df.head())
df.describe()

,dnu,nmax,epsilon,k,a,omega,phi,tau
0,3.774666,8.909744,-0.074084,0.040001,0.200128,3.696033,-0.287783,9.418238
1,3.977722,8.245239,-0.021279,0.039998,0.200136,2.318750,4.942493,9.519606
2,5.346790,10.247160,0.128692,0.039996,0.199988,2.960478,2.535166,7.896521
3,4.996504,7.429712,0.010132,0.040928,0.221116,2.159576,6.273541,34.229910
4,4.384523,8.646312,-0.041921,0.039990,0.200043,2.478256,2.859963,9.080585

,dnu,nmax,epsilon,k,a,omega,phi,tau
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,4.793415,9.000970,0.317851,0.040006,0.200475,2.957062,1.627046,8.937316
std,1.417978,1.519864,0.403152,0.000134,0.002982,0.434978,2.822207,3.887353
min,2.010309,6.060882,-0.074084,0.039929,0.199915,2.159576,-5.905832,6.405741
25%,4.088567,7.784078,0.006528,0.039977,0.199980,2.686129,-0.283334,7.476679
50%,4.383447,8.744596,0.117006,0.039991,0.199999,2.975092,2.021302,8.351586
75%,5.032065,10.154657,0.849865,0.040001,0.200104,3.117732,3.886841,9.203515
max,8.492134,12.369756,0.946648,0.040928,0.221116,3.981650,6.273541,34.229910

In [18]:
%matplotlib tk
plt.figure(1)
plt.scatter(df['dnu'],df['a'])
plt.xlabel(r'$\left<\Delta\nu\right>$')
plt.ylabel(r'a')
plt.show()
plt.figure(2)
plt.scatter(df['dnu'],df['phi'])
plt.xlabel(r'$\left<\Delta\nu\right>$')
plt.ylabel(r'$\phi$')
plt.show()